@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
    overflow: hidden;
}
/* [1] 메인화면 */
#main {
    width: 100%;
    height: 1080px;
    background-color: #F2F6FF;
}
/* 1. 헤더 */
header {
    width: 100%;
    height: 150px;
}
/* 로고 */
header .logo {
    display: block;
    float: left;
    width: 300px;
    height: 100%;
    margin-left: 9.375%;
}
header .logo img {
    float: left;
    margin-top: 62px;
}
header .logo h1 {
    float: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 4.7rem;
    line-height: 63px;
    color: #23233C;
    margin-top: 63px;
    padding-left: 20px;
}
/* 메인 네비 */
header nav {
    position: absolute;
    top: 0;
    left: 50%;
    width: 450px;
    height: 150px;
    margin-left: -225px; 
}
header .mainNav {
    width: 100%;
    height: 114px;
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
}
header .mainNav li {
    width: 33%;
    height: 100%;
}
header .mainNav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 2.1rem;
    color: #7F8DA0;
    line-height: 114px;
    text-align: center;
}
/* 로그인 & 회원가입 */
.join {
    float: right;
    width: 215px;
    height: 150px;
    margin-right: 13%;
    display: flex;
    padding-top: 36px;
    box-sizing: border-box;
}
.join li {
    width: 50%;
    height: 114px;
}
.join li a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.2rem;
    line-height: 114px;
    color: #23233C;
    text-align: center;
}
.join li a.register {
    color: #6BC37C;
}
/* 메뉴 토글버튼(모바일용(900)) */
.navToggle {
    display: none;
    float: right;
    width: 30px;
    height: 150px;
    margin-right: 13%;
    justify-content: space-between;
    padding-top: 70px;
    box-sizing: border-box;
    cursor: pointer;
}
.navToggle > div {
    display: none;
    width: 5px;
    height: 35px;
    background-color: #23233C;
    border-radius: 15px;
    transform: rotate(45deg);
}
/* 2. 메인 컨텐츠 */
#intro {
    float: left;
    width: 100%;
    background-color: lightgoldenrodyellow;
}
.appIntro {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 265px;
    width: 1560px;
    background-color: white;
    position: relative;
}
.appIntro .bar {
    width: 62px;
    height: 6px;
    background-color: #23233C;
    border-radius: 20px;
    margin-top: 82px;
}
.slogan {
    font-size: 2.7rem;
    line-height: 4rem;
    color: #7F8DA0;
    margin-top: 25px;
}
.mainMsg {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 6.7rem;
    line-height: 6.4rem;
    color: #23233C;
    margin-top: 30px;
}
.mainMsg > span {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 7rem;
    line-height: 6.4rem;
    color: #6CC57C;
}
.desc {
    width: 42%;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: #7F8DA0;
    margin-top: 22px;
}
/* 앱 다운로드 & SNS 버튼 */
.btnsBox {
    width: 42%;
    height: 240px; 
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 앱 다운로드 */
.download {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
}
.download .btn {
    display: block;
    width: 42%;
    height: 67px;
    background-color: #23233C;
    border-radius: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    line-height: 67px;
    text-align: center;
    color: #ffffff;
}
.download .btn:hover {
    background-color: whitesmoke;
    color: #23233C;
    transition: 0.3s ease;
}
.appIcons {
    width: 23%;
    height: 67px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 23%;
}
/* SNS */
.appIntro .sns {
    /* width: 53%; */
    width: 390px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}
.appIntro .sns li, .sns a {
    font-size: 2rem;
    line-height: 3.3rem;
    color: #7F8DA0;
}
.appIntro .sns a:hover {
    color: #6CC57C;
}
/* 배경 도형요소 */
#intro .bg {
    position: absolute;
}
.bgCircle {
    width: 400px;
    height: 400px;
    background-color: #D0F0D6;
    border-radius: 50%;
    top: 40px;
    right: 27.3%;
    z-index: 1;
}
.bgSquare {
    width: 740px;
    height: 600px;
    background: transparent linear-gradient(230deg, #F2F6FF 0%, #F2F6FF 74%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 50px 50px 50px #ABB6CC33;
    border-radius: 49px;
    transform: rotate(37deg);
    top: -120px;
    right: -51.2%;
    z-index: 2;
}
/* 애플리케이션 사진 */
#intro .appImg {
    position: absolute;
}
.imgLogin {
    top: -73px;
    right: 31%;
    z-index: 10;
    box-shadow: 0px 0px 99px #2A5A7B3B;
    border-radius: 30px;
}
.imgNutri {
    top: -80px;
    right: 11%;
    z-index: 20;
}
.imgHome {
    top: 105px;
    right: 7.37%;
    z-index: 30;
    box-shadow: 0px 3px 80px #2A5A7B3B;
    border-radius: 30px;
}
.imgWeekly {
    top: 300px;
    right: -10.65%;
    z-index: 40;
}
/* [2] 서브 컨텐츠 */
#contents {
    width: 100%;
    height: 1730px;
    background-color: #F2F6FF;
    position: relative;
}
/* 배경요소 */
.bgCircle2 {
    width: 300px;
    height: 300px;
    background-color: #D0F0D6;
    border-radius: 50%;
    position: absolute;
    top: 247px;
    right: -250px;
    z-index: 100;
}
.bgSquare2, .bgSquare3 {
    background: transparent linear-gradient(230deg, #F2F6FF 0%, #F2F6FF 74%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 50px 50px 50px #ABB6CC33;
    border-radius: 49px;
    position: absolute;
}
.bgSquare2 {
    width: 740px;
    height: 600px;
    transform: rotate(37deg);
    top: 465px;
    left: -557px;
    z-index: 110;
}
.bgSquare3 {
    width: 742px;
    height: 778px;
    transform: rotate(-21deg);
    top: 728px;
    right: -145px;
    z-index: 120;
}
/* 1. 컨텐츠1 */
#con1 {
    width: 100%;
    height: 765px;
}
/* 이미지 영역 */
.con1_img {
    float: left;
    width: 840px;
    height: 100%;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
}
.con1_img > li {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#con1 .container {
    position: relative;
    width: 306px;
    height: 440px;
    background: transparent linear-gradient(144deg, #F2F6FF 0%, #F2F6FF 65%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 50px 50px 50px #ABB6CC33;
    border-radius: 153px 153px 50px 50px;
    margin-top: 108px;
    padding: 0 45px;
    box-sizing: border-box;
}
/* 메뉴 이미지 */
#con1 .container img.mn1 {
    position: absolute;
    top: -150px;
    left: -42px;
    z-index: 210;
}
#con1 .container img.mn2 {
    position: absolute;
    top: -85px;
    left: -5px;
    z-index: 220;
}
#con1 .box2 {
    margin-top: 268px;
}
/* 메뉴정보 */
#con1 .txtBox {
    width: 100%;
    height: 150px;
    margin-top: 220px;
}
#con1 .txtBox .menu {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 33px;
    line-height: 38px;
    color: #23233C;
}
/* 영양정보 */
.nutri {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}
.nutri li {
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}
.nutri li:last-child {
    margin-left: 30px;
}
.nutri p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 26px;
    line-height: 35px;
    color: #23233C;
}
.nutri p.cal {
    color: #EE6A6E;
}
.nutri span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #7F8DA0;
}
/* 상세보기 버튼 */
#con1 .goBtn {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #23233C;
    position: absolute;
    bottom: -21px;
    right: -10px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
#con1 .goBtn:hover {
    background-color: #6CC57C;
    transition: 0.3s ease-in;
}
/* 설명글 영역 */
#con1 .explanation {
    float: left;
    width: 695px;
    height: 100%;
    padding: 0 34px;
    box-sizing: border-box;
}
.explanation .bar {
    width: 62px;
    height: 6px;
    background-color: #23233C;
    border-radius: 20px;
    margin: 160px 0 37px 0;
}
.explanation .ttl {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 50px;
    line-height: 63px;
    color: #23233C;
}
.explanation .ttl > span {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 50px;
    line-height: 63px;
    color: #6CC57C;
}
.explanation .desc {
    font-size: 25px;
    line-height: 28px;
    color: #7F8DA0;
    margin-top: 90px;
}
/* 2. 컨텐츠2 */
/* 설명글 영역 */
#con2 {
    width: 100%;
    height: 965px;
}
#con2 .explanation {
    float: left;
    width: 740px;
    height: 100%;
    margin-left: 180px;
    padding-left: 108px;
    box-sizing: border-box;
}
#con2 .explanation .desc {
    margin-top: 30px;
}
/* 이미지 영역 */
.con2_img {
    float: left;
    width: 795px;
    height: 100%;
    position: relative;
}
/* 화면 스크린샷 */
.imgYogurt {
    position: absolute;
    top: -100px;
    left: 170px;
    z-index: 300;
}
.imgNutri2 {
    position: absolute;
    top: 180px;
    left: -20px;
    z-index: 310;
}
.ingredients {
    width: 642px;
    height: 120px;
    z-index: 320;
    position: absolute;
    top: 600px;
    left: 93px;
    display: flex;
    justify-content: space-between;
}
.ingredients li {
    width: 120px;
    height: 120px;
    background-image: url("../image/ingredients.png");
    border-radius: 50%;
}
.ingredients li.yogurt {
    background-position: -10px -10px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.04);
}
.ingredients li.kiwi {
    background-position: -150px -150px;
    box-shadow: 0 10px 50px rgb(33, 63, 103, 0.33);
}
.ingredients li.blueberry {
    background-position: -150px -10px;
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.15);
}
.ingredients li.cherry {
    background-position: -10px -150px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.04);
}
/* [3] 푸터 */
footer {
    float: left;
    width: 100%;
    height: 540px;
    background-color: #F2F6FF;
}
/* 푸터 상단영역(회사 정보) */
.companyInfo {
    margin: 0 auto;
    width: 1620px;
    height: 300px;
    margin-top: 106px;
    display: flex;
}
/* 로고 */
footer .logo {
    display: block;
    width: 350px;
    height: 86px;
}
footer .logo img {
    float: left;
    width: 91px;
    height: 86px;
}
footer .logo h1 {
    float: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 61px;
    line-height: 86px;
    color: #23233C;
    padding-left: 23px;
}
/* 회사정보(네비) */
.infoNav {
    width: 630px;
    height: 200px;
    margin-left: 105px;
    display: flex;
}
.infoNav li {
    width: 50%;
    height: 100%;
}
.infoNav li > ul {
    width: 100%;
    height: 100%;
}
.infoNav li ul li {
   width: 100%;
   height: 25%;
}
.infoNav li ul li.ttl {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 32px;
    line-height: 50px;
    color: #6CC57C;
}
.infoNav li ul li a {
    display: block;
    font-size: 24px;
    line-height: 50px;
    color: #3A466D;
}
.infoNav li ul li a:hover {
    color: #6CC57C;
    transition: 0.2s ease-in;
}
/* SNS */
footer .sns {
    width: 220px;
    height: 100%;
    margin-left: 175px;
}
footer .snsIcons {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
footer .snsIcons li {
    background-image: url("../image/sns_icons.png");
}
.snsIcons .instagram {
    width: 43px;
    height: 43px;
    background-position: -53px -10px;
}
.snsIcons .twitter {
    width: 49px;
    height: 41px;
    background-position: -116px -10px;
}
.snsIcons .facebook {
    width: 23px;
    height: 42px;
    background-position: -10px -10px;
}
footer .sns p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 32px;
    line-height: 35px;
    margin-top: 90px;
}
/* 저작권 표시 */
.copyright {
    font-size: 25px;
    color: #3A466D;
    line-height: 40px;
    margin-left: 155px;
}
/* 반응형(1400px 이상) */
/* 이미지 0.75 */
@media screen and (max-width:1400px) {
    html {
        font-size: 8px;
    }
    /* 로고 */
    header .logo {
        margin-left: 3%;
    }
    /* 로그인 & 회원가입 */
    .join {
        margin-right: 3%;
    }
    /* 2. 메인 컨텐츠 */
    .appIntro {
        margin-top: 60px;
        margin-bottom: 265px;
        width: 100%;
        background-color: white;
        position: relative;
        padding-left: 5%;
        box-sizing: border-box;
    }
    .appIntro .sns {
        width: 300px;
    }
    /* 배경 도형요소 */
    .bgCircle {
        width: 300px;
        height: 300px;
        top: 50px;
        right: 27.3%;
    }
    .bgSquare {
        width: 555px;
        height: 450px;
        top: -120px;
        right: -51.2%;
    }
    /* 애플리케이션 사진 */
    .imgLogin,
    .imgHome {
        width: 216px;
    }
    .imgLogin {
        top: 0;
        right: 30.5%;
    }
    .imgNutri {
        width: 346.5px;
        top: -10px;
        right: 13%;
    }
    .imgHome {
        top: 120px;
        right: 9%;
    }
    .imgWeekly {
        width: 390px;
        top: 300px;
        right: -1%;
    }
}
/* 반응형(1200px 이상) */
@media screen and (max-width:1200px) {
   /* 메인 네비 */
    header nav {
        width: 300px;
        margin-left: -150px; 
    }
    header .mainNav a {
        font-size: 1.8rem;
    }
    /* 배경 도형요소 */
     .bgCircle {
        display: none;
    }
    /* 애플리케이션 사진 */
    .imgLogin,
    .imgHome {
        width: 216px;
    }
    .imgLogin {
        display: none;
    }
    .imgNutri {
        display: none;
    }
    .imgHome {
        top: 50px;
        right: 25%;
    }
    .imgWeekly {
        top: 250px;
        right: 5%;
    }
}
/* 반응형(1100px 이상) */
@media screen and (max-width:1100px) {
    /* 애플리케이션 사진 */
    .imgHome {
        top: 50px;
        right: 15%;
    }
    .imgWeekly {
        top: 250px;
        right: 0%;
    }
}
/* 반응형(900px 이상) */
@media screen and (max-width:900px) {
    /* 메인 네비 */
    header nav {
         display: none;
    }
    /* 로고 */
    header .logo {
        margin-left: 7%;
    }
    /* 로그인 & 가입 버튼 */
    .join {
        display: none;
    }
    /* 메뉴 토글버튼(모바일용(900)) */
    .navToggle {
        margin-right: 10%;
        display: flex;
        justify-content: space-between;
    }
    .navToggle > div {
        display: block;
    }
 }

